body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(173, 188, 230);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

#response-message {
    margin-top: 10px;
    color: green;
}

.product {
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.product img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

